<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>ERROR</title>

    <link rel="stylesheet" href="css/reset.css">

    <link rel="stylesheet" href="css/reg.css" media="screen" type="text/css"/>

</head>

<body>

<div class="wrap">
    <div class="avatar">
        <img src="img/error_icon.png">
    </div>
    <div class="error_box">
        <%= errorMsg %>
    </div>

    <div class="add_info"><a href="/login">вернуться на страницу входа ></a></div>
</div>

</body>

</html>